apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-service
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
    - host: demo-blog.com
      http:
        paths:
          - path: /posts/create
            pathType: Exact
            backend:
              service:
                name: posts-clusterip-service
                port:
                  number: 4000
